.background__{
  position: absolute;
  top: 0;
  z-index: 0;
  min-width: 100vw;
  min-height: 100vh;
  background:rgba(66, 63, 63, 0.788);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container__form{
  background-color: white;
  width: 700px;
  height: auto;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  }
  .formulario{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .fieldsetCustom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* min-width: 0%; */
  }
  .fieldsetCustom input{
    height: 40px;
  }
  .fieldsetCustom label{
    font-size: 20px;
  }
  fieldset{border: none;
  
  }
  .btn{
    height: 50px;
    width: 80px;
    background-color: white;
    border: 1px solid rgba(168, 160, 160, 0.788);
    border-radius: 20px;
    cursor: pointer;
  }
  
  .input__radio{
    margin: 10px auto;
  }
  .input__radio label{
    font-size: 20px;
  }
  .input__radio input{
    margin-left: 10px;
  }
  .form__btn{
    margin: 0 auto;
    display: flex;
    gap: 20px;
  }
  .style__h2{
    margin: 0 auto;
  }

  .error{
    color: red;
    
  }
  .flex {
    margin-top: 0;
    display: flex;
    align-items: center;
  }
  .btns{
    display: flex;
    gap: 10px;
    margin-top:10px ;
  }
  .btns button{
    width: 100px;
    height: 30px;
  }
