.body{
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(210, 197, 122, 0.12);
  justify-content: center;
}
.header{
  height: 100px;
  display: flex;
  background-color: rgba(2, 104, 90, 0.79);
  justify-content: center;
  align-items: center;
}
.grid{
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  position: relative;
  top: -20px;
}
.input_output{
  width: 500px;
  height: 100px;
  border: 2px solid rgb(129, 127, 127);
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button__close{
  position: relative;
  right: -40%;
  height: 50px;
  width: 50px;
  border: none;
  background-color: white;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}
h2{
  margin: 0;
}

.table{
  width: 80%;
  border: 2px solid black;
  margin: 0 auto;
  padding: 2px;
}

th{
  border: 2px solid black;
}
.excluir{
  border: none;
  cursor: pointer;
}
.th__date{
  width: 10%;
}
.th__descricao{
  width: 60%;
}
.th__valor{
  width: 10%;
}
.th__id{
  width: 5%;
}
.green{
  font-size: 25px;
  font-weight: 700;
  color:rgba(2, 104, 90, 0.79)
}
.red{
  font-size: 25px;
  font-weight: 700;
  color: rgba(224, 10, 10, 0.79);
}
.total{
  font-size: 25px;
  font-weight: 700;
}
.btn__new{
  background-color: rgba(2, 104, 90, 0.79);
  border-radius: 20px;
  width: 150px;
  height: 40px;
  margin-left: 82%;
  margin-bottom:20px ;
}
.line-table{
  cursor: pointer;
}
.line-table:hover{
  transition: all 1s ease-in-out;
  background-color: rgb(129, 127, 127);
}